.eventsIntro {
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: 'Comfortaa';
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

.eventInput {
    height: 150px;
    word-wrap: break-word;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Comfortaa';
  }

  .eventButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Comfortaa';
}
.eventContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    white-space: pre-wrap;

}
.eventItem {
    list-style: none;
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
    font-family: 'Comfortaa';
  }
.eventCal {
        height: 50px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Comfortaa';
}
.eventCon {
    
    width: 95%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 5px;
}
