body {
  margin: 0;
  padding: 0;
}

.box {
  position: absolute;
  top: 0;
  transform: rotate(70deg);
  left: 0;
  z-index: 0;
}

.wave {
  margin-left: -50em;
  width: 90vw;
  height: 100vw;
  border-radius: 33%;
  animation: rotate 7500ms infinite linear;
  background-color: #77daff;
  margin-top: -15em;
  transform: rotate(70deg);
  position: fixed;
  z-index: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.loginCtn {
  display: flex;
  width: auto;
  height: 100vh;
  margin: 0;
  justify-content: space-between;
  background-color: rgba(238, 200, 142, 0.692);
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 100px;
  margin-left: 900px;
}

.nav a {
  display: flex;
  font-size: 30px;
  width: 200px;
  height: 50px;
  justify-content: space-between;
  z-index: 1;
  text-decoration: none;
  font-family: 'Comfortaa';
  color: black;
  margin: 10px;
  padding: 10px;
}

.nav a:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.logo {
  font-family: 'Comfortaa', cursive;
  font-size: 100px;
  color: rgb(110, 96, 96);
  margin: 5px;
}

.subtitle {
  margin-left: 25vh;
  font-family: 'Comfortaa';
}

.header {
  display: flex;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 200px;
  z-index: 1;
  margin-left: 100px;
}

.signupForm,
.registerForm {
  position: relative;
  top: 30%;
  right: 20%;
  display: flex;
  width: 275px;
  height: 300px;
  padding: 0;
  box-shadow: 10px 10px 10px 10px grey;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 500px;
  border-radius: 10px;
  z-index: 1;
  background-color: rgb(231, 226, 226);
  color: rgb(66, 64, 64);
}

.signupForm h3 {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  font-family: 'Comfortaa';
  margin: 5px;
  padding: 0;
  font-weight: bold;
  text-shadow: 10px grey;
}

.signupForm input {
  display: flex;
  align-items: center;
  width: 20vh;
  height: 20px;
  margin: 10px;
  padding: 0;
  margin: 15px;
  background-color: rgb(231, 226, 226);
}

.signupForm button {
  align-items: flex-end;
}

.userInputs div {
  margin-left: 10px;
  margin: 7px;
  position: relative;
}

.login {
  width: 10vh;
  height: 2vh;
  border-radius: 5px;
  box-shadow: 10px 10px 10px grey;
  background-color: #37e0b6;
  color: black;
  font-family: 'Comfortaa';
  margin-left: 20px;
}

.register-form {
  display: flex;
  height: 40vh;
  width: 32vh;
  align-content: space-evenly;
}

.signupForm button:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.register {
  width: 10vh;
  height: 3vh;
  border-radius: 5px;
  box-shadow: 10px 10px 10px grey;
  background-color: cornflowerblue;
  font-family: 'Comfortaa';
  margin-left: 20px;
  color: black;
}

.error {
  z-index: 1;
  width: 30vh;
  height: 30vh;
}
